* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Manrope", sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

main {
  background-color: #E5E5E5;
  padding-top: 21px;
  padding-bottom: 20px;
}

.recetteCard {
  background-color: #fff;
  overflow: hidden;
  border: none;
  border-radius: 21px;
  min-height: 731px;
  height: 100%;
  padding: 0 0 20px 0;
  position: relative;
}
.recetteCard_time {
  position: absolute;
  top: 21px;
  right: 22px;
  background-color: #FFD15B;
  width: 65px;
  height: 26px;
  border-radius: 13px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recetteCard_photo {
  width: 100%;
  height: 253px;
  object-fit: cover;
}
.recetteCard_title {
  margin: 32px 25px 0 25px;
  font-size: 18px;
  font-family: "Anton", sans-serif;
}
.recetteCard_description {
  margin: 29px 25px 32px 25px;
}
.recetteCard_description p {
  margin-top: 15px;
  height: 76px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}
.recetteCard_description p::-webkit-scrollbar {
  display: none;
}
.recetteCard_ingredients {
  margin: 0 25px;
}
.recetteCard_ingredients ul {
  margin: 15px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 21px;
  column-gap: 20px;
}
.recetteCard_ingredients li {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
}
.recetteCard_ingredients li span {
  color: #7A7A7A;
}
.recetteCard h3 {
  color: #7A7A7A;
  text-transform: uppercase;
  font-size: 12px;
}

.searchBar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.searchBar_input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}
.searchBar_xClose {
  font-size: 0.8rem;
  color: #7A7A7A;
  display: none;
}
.searchBar_xClose-principale {
  font-size: 1.3rem;
}
.searchBar_searchIcon img {
  height: 20px;
  width: 20px;
  object-fit: contain;
}
.searchBar_searchIcon-principale {
  height: 52px;
  width: 52px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.searchBar_searchIcon-principale img {
  filter: brightness(0) invert(1);
  height: 26px;
  width: 26px;
  object-fit: contain;
}

.header {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("/assets/images_Recettes/Recette36.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 667px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo {
  background-color: transparent;
  position: absolute;
  top: 51px;
  left: 69px;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 30px;
}
.header_logo_circleExterior {
  padding: 0;
  margin-bottom: 0;
  margin-left: 7px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo_circleInterior {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: white;
}
.header_title {
  text-transform: capitalize;
  color: white;
  font-family: "Anton", sans-serif;
  text-align: center;
  color: #FFD15B;
  line-height: 66px;
  font-size: 44px;
}
.header_search {
  margin: auto;
  margin-top: 30px;
  padding: 10px 10px 10px 35px;
  width: 66%;
  height: 72px;
  background-color: #fff;
  overflow: hidden;
  border: none;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtre {
  position: relative;
}
.filtre_nbrRecettes {
  height: 56px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: bold;
}
.filtre_category {
  position: relative;
  margin: 0 66px 0 0;
  padding: 0;
  min-height: 56px;
  border-radius: 11px;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}
.filtre_category::-webkit-scrollbar {
  display: none;
}
.filtre_category_sticky {
  padding: 17px 16px 10px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 11px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.filtre_category_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.filtre_category_search {
  margin: auto;
  margin-top: 14px;
  width: 100%;
  height: 36px;
  border: 1px solid #7A7A7A;
  padding: 0 9px;
  display: none;
}
.filtre_category_options {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  margin: 0;
  display: none;
}
.filtre_category_option {
  margin-top: 13px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  position: relative;
}
.filtre_category_option::after {
  content: "";
  z-index: -1;
  opacity: 0;
  width: 200%;
  height: 130%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 300ms;
  background-color: #FFD15B;
}
.filtre_category_option:hover::after {
  opacity: 1;
}
.filtre_category_option--invisible {
  display: none;
}
.filtre_category_option--visible {
  display: flex;
}
.filtre_category_tags {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.filtre_category_tag {
  width: 100%;
  display: flex;
  margin-top: 12px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: first baseline;
  background-color: #FFD15B;
  border-radius: 11px;
}
.filtre_category_tag span {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filtre_category_tag span i {
  color: white;
  font-size: 10px;
}
.filtre_category--open {
  background-color: white;
  max-height: 315px;
}

.recettes {
  padding: 55px 0;
}

/*# sourceMappingURL=style.css.map */
